<%= render "layouts/carousel" %>

<div id="breed-single">

  <h1> <%= @breed.name.capitalize %> </h1>

  <h2> <%= @breed.description.capitalize %> </h2>

  <h3 id="status"> <%= @breed.availability %> </h3>

  <ul>
    <% @cats.each do |cat| %>
      <%= link_to "#{cat.name}", cat_path(cat.id) %>
    <% end %>
  </ul>

</div>
