<h1>Order Information</h1>
<h2>Created: <%= @order.created_at.strftime('%A, %d %b %Y %l:%M %p') %></h2>
<h2>last updated at: <%= @order.updated_at.strftime('%A, %d %b %Y %l:%M %p')%></h2>
  <table class="table table-hover">
    <tr>
      <th>Name &nbsp; &nbsp; &nbsp;</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>

    <% @order.cats.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td><%= cat.description %></td>
        <td><%= cat.price %></td>
        <td><%= cat.quantity(@order.id) %></td>
        <td><%= cat.quantity(@order.id) * cat.price %></td>
      </tr>
    <% end %>
    <tr>
      <td> TOTAL PRICE </td>
      <td></td>
      <td></td>
      <td></td>
      <td> <%= @order.total_price %> </td>
    </tr>
  </table>
