<div id="cat-single">

<img src="<%= @cat.image_path %>" alt="<%@cat.breeds.first=%> cat looking delicious!" />

<h1> <%= @cat.name.capitalize %>   </h1>

<h2> <%= @cat.description.capitalize %> </h2>


<h3 id="status"> <%= @cat.availability %> </h3>

<%= button_to "add to cart", cart_items_path(id: @cat.id) %>

</div>
