<div id="cat-single">


<%= image_tag @cat.image_path, height: "640" %>

<h1> <%= @cat.name.capitalize %>   </h1>

<h2> <%= @cat.description.capitalize %> </h2>


<h3 id="status"> <%= @cat.availability %> </h3>

<%= button_to "add to cart", cart_items_path(id: @cat.id) %>

</div>
