<div id="cat-single">

<div class="image-cat-single">
  <%= image_tag @cat.image_path, height: "800" %>
</div>

<h1> <%= @cat.name.capitalize %>   </h1>

<h2> <%= @cat.description.capitalize %> </h2>


<h3 id="status"> <%= @cat.availability %> </h3>
<% if @cat.retired? == false %>
<%= button_to "add to cart", cart_items_path(id: @cat.id) %>
<% end %>
</div>
